In [15]:
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def bark(self):
        print("bow!")
dog1=Dog("Buddy",3)
print(f"{dog1.name}is{dog1.age}year old.")
dog1.bark()

Buddyis3year old.
bow!

In [19]:
class Myclass:
    x=5
    
obj1=Myclass()
print(obj1.x)

5

In [23]:
class bike:
    def __init__(self,name,model):
        self.name=name
        self.model=model
    def harn(self):
        print("harn!")
bike=bike("duke",2020)
print(f"{bike.name}in{bike.model} it is my favourite.")
bike.harn()

dukein2020 it is my favourite.
harn!

In [35]:
class cat:
    def __init__(self,name,age):
        self.age=age
        self.name=name
    def meow(self):
        print("meow!")
cat1=cat("chiku",3)
cat2=cat("buddy",8)
print(f"{cat1.name}is{cat1.age} years old.")
print(f"{cat2.name}is{cat2.age}years old.")
cat1.meow()
cat2.meow()

chikuis3 years old.
buddyis8years old.
meow!
meow!

In [30]:
class student:
    def __init__(self,name,rollnum,collegename):
        self.name=name
        self.rollnum=rollnum
        self.collegename =collegename
    def __str__(self):
        return f"{self.name},{self.rollnum},{self.collgename}"
student1=student("soniya",21,"bits")
student2=student("sunitha",1,"st joseph")
print(f"{student1.name} is roll num {student1.rollnum} of the {student1.collegename}")
print(f"{student2.name} is roll num {student2.rollnum} of the {student2.collegename}")

soniya is roll num 21 of the bits
sunitha is roll num 1 of the st joseph

In [14]:
class trip:
    def __init__(self,name,location):
        self.name=name
        self.location=location
    def __str__(self):
        return f"{self.name},{self.location}"
trip1=trip(name="charminar",location="hyderabad")
trip2=trip(name="tajmahal",location="agra")
print(trip1)
print(trip2)

charminar,hyderabad
tajmahal,agra

In [18]:
class mobile:
    def __init__(self,name,price):
        self.name=name
        self.price=price
    def __str__(self):
        return f"{self.name},{self.price}"
mobile1=mobile(name="apple",price=120000)
mobile2=mobile(name="iqoo",price=50000)
print(mobile1)
print(mobile2)

apple,120000
iqoo,50000

In [31]:
class person:
    def __init__(self,name,company,location):
        self.name=name
        self.company=company
        self.location=location
    def __str__(self):
        return f"{self.name} work in {self.company} in {self.location}"
person1=person(name="soniya",company="tcs",location="hyderabad")    
person2=person(name="supraja",company="infosys",location="bengloor")    
person3=person(name="navena",company="wipro",location="chennai") 
print(person1)
print(person2)
print(person3)

soniya work in tcs in hyderabad
supraja work in infosys in bengloor
navena work in wipro in chennai