1.Accessing Elements: You can access elements of a tuple using indexing.

In [21]:
my_tuple = (1, 2, 3, 4, 5)
element = my_tuple[1]  
print(element)

2

2. Slicing: You can slice a tuple to get a subset of it.

In [20]:
my_tuple = (1, 2, 3, 4, 5)
slice = my_tuple[1:3]  
print(slice)

(2, 3)

3. Concatenation: You can concatenate tuples using the + operator.

In [19]:
tuple1 = (1, 2)
tuple2 = (3, 4)
result = tuple1 + tuple2  
print(result)

(1, 2, 3, 4)

4.Length: You can get the number of items in a tuple using the len() function.

In [18]:
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple) 
print(length)

5

5. Iterating: You can iterate over the elements of a tuple using a for loop.

In [11]:
my_tuple = (1, 2, 3, 4, 5)
for item in my_tuple:
    print(item)

1
2
3
4
5

6.Unpacking: You can unpack a tuple into variables.

In [15]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple  
print(a,b,c)

1 2 3

7.Nested Tuples: Tuples can contain other tuples as elements.

In [16]:
nested_tuple = (1, (2, 3), (4, 5, 6))
inner_tuple = nested_tuple[1]  
print(inner_tuple)

(2, 3)

8. Converting to Tuple: You can convert other data types to a tuple using the tuple() constructor.

In [17]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list) 
print(my_tuple)

(1, 2, 3)